<div class="jumbotron">
 
<h1>Welcome to my Pinterested App!</h1>
<p>Pretty Cool, Don't You Think Clowns!</p>
<p>Please stay tuned as my new app develops.  It will be <strong>mind </strong>blowing!</p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>
